<html>
<!-- HTML 4 -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!-- HTML5 -->
<meta charset="utf-8">
<head>


</head>
<body style="font-family: myriad-pro, sans-serif; font-weight: 400; font-style: normal; background-color: #eeeeee;">
    <div class="corpo" style="max-width: 700px; margin: auto; display: block; overflow: auto; background-color: #ffffff;">
        <header>
            <a href="https://www.bemolfarma.com.br" style="font-family: sans-serif; font-weight: 600; font-size: 62%; color: #000000; text-decoration: none; text-align: center; float: center; display: block; border: 0;">
            <img src="https://github.com/matheushenrique-py/email_recomendacao/raw/master/data/imgs/cabecalho_farma.png" ,="" alt="logo Lojas Bemol" class="cabecalho" style="max-width: 100%; height: auto; object-fit: scale-down;"></a>
        </header>

        <div class="recomendacao" style="width: calc(100% - 40px); margin: 20px; display: table;">
            <div class="esquerda" style="width: 50%; text-align: left; float: left; display: inline;">
                <img src="{{img_produto1}}" ,="" class="img_produto" alt="{{nome_produto1}}" style="width: 98%; max-height: 200px; object-fit: scale-down;">
            </div>
            <div class="direita" style="width: 50%; text-align: right; float: right; display: inline;">
                <em style="font-style: normal; font-weight: bold; font-size: calc(9px + 0.7vw); display: block; margin-top: 10px;">{{nome_produto1}}</em>
                <strong style="color: #166bb3; font-size: calc(18px + 0.7vw); display: block; text-transform: capitalize;">R$ {{preco_produto1}}</strong>
                <small style="font-family: sans-serif; color: #666666; font-size: calc(2px + 0.7vw); font-weight: 100; display: block;">4x de R$ {{parcela_produto1}} no Cartão Bemol</small>
                <a href="{{link_produto1}}" ,="" class="bt_comprar" style="font-family: sans-serif; float: center; border: 0; display: inline-block; width: 50%; padding: 10px 5%; margin-top: 10px; font-size: calc(6px + 0.7vw); font-weight: bold; color: #3b2c5b; text-decoration: none; text-align: center; border-radius: 10px; background: #accbee; background: -moz-linear-gradient(45deg,  #accbee 0%, #aeccef 48%, #c9ddf5 89%, #d1e3f8 99%, #d7e6f9 100%); background: -webkit-linear-gradient(45deg,  #accbee 0%,#aeccef 48%,#c9ddf5 89%,#d1e3f8 99%,#d7e6f9 100%); background: linear-gradient(45deg,  #accbee 0%,#aeccef 48%,#c9ddf5 89%,#d1e3f8 99%,#d7e6f9 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#accbee', endColorstr='#d7e6f9',GradientType=1 );">COMPRAR</a>
            </div>
        </div>

        <div class="recomendacao" style="width: calc(100% - 40px); margin: 20px; display: table;">
            <div class="esquerda" style="width: 50%; text-align: left; float: left; display: inline;">
                <em style="font-style: normal; font-weight: bold; font-size: calc(9px + 0.7vw); display: block; margin-top: 10px;">{{nome_produto2}}</em>
                <strong style="color: #166bb3; font-size: calc(18px + 0.7vw); display: block; text-transform: capitalize;">R$ {{preco_produto2}}</strong>
                <small style="font-family: sans-serif; color: #666666; font-size: calc(2px + 0.7vw); font-weight: 100; display: block;">4x de R$ {{parcela_produto2}} no Cartão Bemol</small>
                <a href="{{link_produto2}}" ,="" class="bt_comprar" style="font-family: sans-serif; float: center; border: 0; display: inline-block; width: 50%; padding: 10px 5%; margin-top: 10px; font-size: calc(6px + 0.7vw); font-weight: bold; color: #3b2c5b; text-decoration: none; text-align: center; border-radius: 10px; background: #accbee; background: -moz-linear-gradient(45deg,  #accbee 0%, #aeccef 48%, #c9ddf5 89%, #d1e3f8 99%, #d7e6f9 100%); background: -webkit-linear-gradient(45deg,  #accbee 0%,#aeccef 48%,#c9ddf5 89%,#d1e3f8 99%,#d7e6f9 100%); background: linear-gradient(45deg,  #accbee 0%,#aeccef 48%,#c9ddf5 89%,#d1e3f8 99%,#d7e6f9 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#accbee', endColorstr='#d7e6f9',GradientType=1 );">COMPRAR</a>
            </div>
            <div class="direita" style="width: 50%; text-align: right; float: right; display: inline;">
                <img src="{{img_produto2}}" ,="" class="img_produto" alt="{{nome_produto2}}" style="width: 98%; max-height: 200px; object-fit: scale-down;">
            </div>
        </div>

        <div class="recomendacao" style="width: calc(100% - 40px); margin: 20px; display: table;">
            <div class="esquerda" style="width: 50%; text-align: left; float: left; display: inline;">
                <img src="{{img_produto3}}" ,="" class="img_produto" alt="{{nome_produto3}}" style="width: 98%; max-height: 200px; object-fit: scale-down;">
            </div>
            <div class="direita" style="width: 50%; text-align: right; float: right; display: inline;">
                <em style="font-style: normal; font-weight: bold; font-size: calc(9px + 0.7vw); display: block; margin-top: 10px;">{{nome_produto3}}</em>
                <strong style="color: #166bb3; font-size: calc(18px + 0.7vw); display: block; text-transform: capitalize;">R$ {{preco_produto3}}</strong>
                <small style="font-family: sans-serif; color: #666666; font-size: calc(2px + 0.7vw); font-weight: 100; display: block;">4x de R$ {{parcela_produto3}} no Cartão Bemol</small>
                <a href="{{link_produto3}}" ,="" class="bt_comprar" style="font-family: sans-serif; float: center; border: 0; display: inline-block; width: 50%; padding: 10px 5%; margin-top: 10px; font-size: calc(6px + 0.7vw); font-weight: bold; color: #3b2c5b; text-decoration: none; text-align: center; border-radius: 10px; background: #accbee; background: -moz-linear-gradient(45deg,  #accbee 0%, #aeccef 48%, #c9ddf5 89%, #d1e3f8 99%, #d7e6f9 100%); background: -webkit-linear-gradient(45deg,  #accbee 0%,#aeccef 48%,#c9ddf5 89%,#d1e3f8 99%,#d7e6f9 100%); background: linear-gradient(45deg,  #accbee 0%,#aeccef 48%,#c9ddf5 89%,#d1e3f8 99%,#d7e6f9 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#accbee', endColorstr='#d7e6f9',GradientType=1 );">COMPRAR</a>
            </div>
        </div>

        <footer>
            <div class="aviso_aberto" style="background-color: #0986e0; padding: 5%;">
                <h1 style="text-align: center; font-size: calc(14px + 0.7vw); font-weight: bold; color: #ffffff; margin: 2px;">A Bemol farma segue</h1>
                <h1 style="text-align: center; font-size: calc(14px + 0.7vw); font-weight: bold; color: #ffffff; margin: 2px;"><b>conectada com você!</b></h1>
            </div>
            <div class="central_atendimento" style="padding: 20px 0; display: block;">
                <div class="social_conjunto" style="padding-left: 40%; padding-right: 40%; display: block;">
                    <div class="redes_sociais" style="width: 42%; display: inline-block; margin: 2%;">
                        <a href="https://www.facebook.com/BemolFarma" style="font-family: sans-serif; font-weight: 500; font-size: 62%; color: #000000; text-decoration: none; text-align: center; float: center; display: block; border: 0;">
                            <img src="https://github.com/matheushenrique-py/email_recomendacao/raw/master/data/imgs/facebook_farma.png" ,="" class="logo_social" style="margin: auto; padding-bottom: 5px; display: block; width: 75%; height: 90%; height: auto; object-fit: scale-down;">
                            facebook
                        </a>
                    </div>
                    <div class="redes_sociais" style="width: 42%; display: inline-block; margin: 2%;">
                        <a href="https://www.instagram.com/bemolfarma/" style="font-family: sans-serif; font-weight: 500; font-size: 62%; color: #000000; text-decoration: none; text-align: center; float: center; display: block; border: 0;">
                            <img src="https://github.com/matheushenrique-py/email_recomendacao/raw/master/data/imgs/instagram_farma.png" ,="" class="logo_social" style="margin: auto; padding-bottom: 5px; display: block; width: 75%; height: 90%; height: auto; object-fit: scale-down;">
                            instagram
                        </a>
                    </div>
                </div>
                <h2 style="text-align: center; font-size: calc(14px + 0.7vw); font-weight: bold; color: #3b2c5b; margin: 2px;">Central de Atendimento Bemol</h2>
                <h2 style="text-align: center; font-size: calc(14px + 0.7vw); font-weight: bold; color: #3b2c5b; margin: 2px;">0800 726 8300</h2>
            </div>
        </footer>
    </div>
</body>
</html>